certifi==2023.7.22
charset-normalizer==3.3.0
colorama==0.4.6
pymongo==4.5.0
requests==2.31.0
urllib3==2.0.6
tqdm
diskcache
tldextract
bs4
python-whois
python-nmap
loguru
geoip2>=4.0.0
dnspython>=1.16.0
ppdeep>=20200505
py-tlsh>=4.5.0
tld>=0.9.1
idna>=2.8
Flask
flask-cors
flask_restful
whoisit
requests_futures
simplejson
ip2geotools
ipwhois
wafw00f
graphviz
Pillow
image
selenium
selenium_stealth
PyYAML
kombu
celery
pysctp; sys_platform == 'linux'
pyroute2; sys_platform == 'linux'
gevent
impacket >=0.11.0
shuffled
netaddr